body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    overflow: hidden; /* Remover a barra de rolagem */
    background-image: url(../IMG/AstroLogBackground.webp);
    background-image: linear-gradient(transparent, transparent), url(../IMG/AstroLogBackground.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Define a altura do body como 100% da altura da janela */
    display: flex;
}

h3 {
    text-align: center;
}

label {
    display: block;
    padding-bottom: 1rem;
    font-weight: 700;
}

label #image, textarea {
    display: block;
    padding-top: 1rem;
}

.formObs {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: rgba(134, 155, 155, 0.781);
    padding: 4%;
    border-radius: 2%;
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    
}

.formObs a{
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 255, 255, 0.61);
    color: black;
}

.formObs a:hover {
    background-color: aqua;
}

button#observationInput {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(243, 187, 34, 0.884);
    border: 0;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}

input, textarea{
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(65, 64, 64);
    padding: 8px;
}

textarea {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    box-sizing: border-box;  
    resize: vertical;
}

button, a{
    border-radius: 2px;
    cursor: pointer;
}
