body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    overflow: hidden; /* Remover a barra de rolagem */
    background-image: url(../IMG/LogBackground.webp);
    background-image: linear-gradient(transparent, transparent), url(../IMG/LogBackground.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Define a altura do body como 100% da altura da janela */
    display: flex;
}
  
.logContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Adicionar a barra de rolagem apenas dentro do .logContainer, se necessário */
}

h3 {
    text-align: center;
}

.subContainer {
    display: flex;
    flex-direction: column;
}

.subContainer a {
    margin-top: 2%;
    text-decoration: none;
    text-align: center;
}

.op {
    display: flex;
    flex-direction: row;
}

.div-wrapper {
    display: flex;
    align-items: center;
}

.div-wrapper p, .div-wrapper a {
    margin: 0 10px;
    text-decoration: none;
}

.div-wrapper a, .subContainer a{
    font-weight: bold;
    border-radius: 5px;
    padding: 4px;
    background-color: rgb(153, 128, 170);
    color: rgb(0, 0, 0);
    /* opacity: 0.8; */
    transition: 0.3s; 
}

.div-wrapper a:hover, .subContainer a:hover {
    /* opacity: 1; */
    background-color: rgb(82, 14, 170);
    color: white;
}